@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "blockCars";
// @import "normalize";
// // @import "wrapper";
// // @import "header";
// // @import "main";
// // @import "range";
// // @import "productPage";
// // @import "popupImage";
// // @import "basket";
// // @import "payment";
// // @import "footer";
body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: black;
}

.button {
    font-size: 16px;
    margin: 5px 0 5px 0;
    cursor: pointer;
    background-color: black;
    color: rgb(27, 184, 27);
    font-weight: bold;
    padding: 1px 5px 1px 5px;
    border-radius: 5px;
}

.page-active {
    background-color: rgb(27, 184, 27);
    color: black;
}

.anticon {
    cursor: pointer;
}

.anticon:hover {
    color: red;
}

.button:hover {
    color: red;
}

.hidden {
    display: none;
}

.sorter-active svg {
    fill: rgb(240, 0, 0);
}

// input {
//     border: solid $silver 1.5px;
// }
// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }